html,
body {
  accent-color: #fff;
  color: $text-color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 980px) {
    font-size: 14px;
  }
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}
a {
  color: currentColor;
}
.link-white {
  color: white;
  &:hover {
    color: $color-secondary;
  }
}
.font-light {
  font-weight: 300;
}
.font-italic {
  font-style: italic;
}
.text-primary {
  color: $color-primary;
}
.text-secondary {
  color: $color-secondary;
}
.bg-primary {
  background-color: $color-primary;
}
.bg-primary-opacity {
  background-color: rgba($color-primary, 0.8);
}

.bg-secondary {
  background-color: $color-secondary;
}
svg {
  fill: currentColor;
}
.text-wrap-balance {
  text-wrap: balance;
}
.border-primary {
  border-color: $color-primary;
}
