.nav {
  li {
    a,
    button {
      height: 100px;
      overflow: hidden;
      padding: 3rem 2rem;
      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
  }
}

.categories {
  top: 100px;
}
