.nav {
  li {
    a,
    button {
      height: 130px;
      overflow: hidden;
      padding: 4rem 2rem;
      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }
  }
}

.categories {
  top: 130px;
}
