.indicators {
  bottom: 2rem;
  position: absolute;
  width: 100%;
  z-index: 20;
  li {
    margin: 0 0.25rem !important;
  }
}

.svg-primary {
  svg {
    fill: $color-primary;
  }
  &:hover {
    svg {
      fill: $color-secondary;
    }
  }
}

.svg-white {
  svg {
    fill: white;
  }
  &:hover {
    svg {
      fill: $color-secondary;
    }
  }
}

.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#section-more {
  height: 60vh;
}
#section-about {
  height: 70vh;
}
